In [1]:
import pandas as pd
import numpy as np

In [14]:
demand = pd.read_csv("data/encoded_demand.csv", index_col=0)
demand.columns = demand.columns.astype(int)
demand.head()

    1     2    3    4    5    6    7    8    9    10
1  178   848  178  178  211  162  313  275  373  113
2  248  1181  248  248  293  226  436  384  519  158
3  264  1256  264  264  312  240  464  408  552  168
4  264  1256  264  264  312  240  464  408  552  168
5  249  1187  249  249  295  227  438  386  522  159

In [15]:
demand[1].sum()

6019

In [23]:
total_per_species = {}

for col in demand.columns:
    total_per_species[col] = demand[col].sum()

total_per_species

{1: 6019,
 2: 28642,
 3: 6019,
 4: 6019,
 5: 7115,
 6: 5472,
 7: 10580,
 8: 9306,
 9: 12587,
 10: 3829}

In [31]:
TOTAL_PLANTS = np.sum(list(total_per_species.values()))
print("Total plants to plant:", TOTAL_PLANTS)

Total plants to plant: 95588

In [24]:
best_prices = {1:26, 2:26, 3:26, 4:25, 5:17, 6:18, 7:17, 8:18, 9:26.5, 10:26}

total_price_per_species = {}

In [25]:
for key, val in total_per_species.items():
    total_price_per_species[key] = best_prices[key] * val

total_price_per_species

{1: 156494,
 2: 744692,
 3: 156494,
 4: 150475,
 5: 120955,
 6: 98496,
 7: 179860,
 8: 167508,
 9: 333555.5,
 10: 99554}

In [30]:
print ("Total price for plants",np.sum(list(total_price_per_species.values())))

Total price for plants 2208083.5

In [32]:
TRANSPORT_COST_PER_PLANT = 0.5625
print("Price for transporting every plant:", TOTAL_PLANTS * TRANSPORT_COST_PER_PLANT)

Price for transporting every plant: 53768.25

In [33]:
PLANTATION_COST_PER_PLANT = 20.0
print("Price for planting every plant:", TOTAL_PLANTS * PLANTATION_COST_PER_PLANT)

Price for planting every plant: 1911760.0

In [34]:
2208083.5 + 53768.25 + 1911760.0

4173611.75